﻿@page "/"
@using Microsoft.AspNetCore.SignalR
@using Microsoft.AspNetCore.SignalR.Client
@using SignalrBasicDemo.Hubs
@using System.Text
@inject NavigationManager _navManager
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<div class="form-group">
    <label>
        Message: <input @bind="_message" />
    </label>

    <button @onclick="async () => await SendAsync()" disabled="@(!IsConnected)">Send</button>
</div>

<ul>
    @foreach (string message in _messages)
    {
        <li>@message</li>
    }
</ul>

@code {
    private string? _message;

    private HubConnection? _hubContext;

    private List<string> _messages = new List<string>();

    protected async override Task OnInitializedAsync()
    {
        _hubContext = new HubConnectionBuilder()
            .WithUrl(_navManager.ToAbsoluteUri("/chathub"))
            .WithAutomaticReconnect()
            .ConfigureLogging(logging =>
            {
                logging.AddConsole();
            })
            .Build();

        _hubContext.On<string, string>("SendChatMessage", (user, message) =>
        {
            _messages.Add($"Received message: {user}: {message}");
            InvokeAsync(StateHasChanged);
        });

        await _hubContext.StartAsync();
    }

    public async Task SendAsync()
    {
        if (_message is null)
        {
            return;
        }

        await _hubContext!.SendAsync("SendMessage", _message);
        _messages.Add($"Sending message: {_message}");
        StateHasChanged();
        _message = string.Empty;
    }

    public bool IsConnected => _hubContext is not null && _hubContext.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (_hubContext is not null)
        {
            await _hubContext.DisposeAsync();
        }
    }
}
